@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-rubik), system-ui, sans-serif;
  }
}

.font-sans {
  font-family: var(--font-rubik), system-ui, sans-serif;
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-italic.var.woff2") format("woff2");
}

@font-face {
  font-family: "Mona Sans";
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url("/fonts/Mona-Sans.var.woff2") format("woff2");
}

@tailwind base;

#__next {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.action-btn {
  @apply text-sm rounded-md transition border border-gray-300 dark:border-gray-700 hover:border-gray-500 dark:hover:border-gray-500 px-2 py-1 mx-1;
  @apply text-gray-500 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200;
}